<ul class="nav koningsschutters-site-sidenav">
	<li class="koningsschutters-site-label">{{ configuration.label }}</li>
	{% block content %}
		{{ content }}
	{% endblock %}
</ul> <!-- /.nav /.koningsschutters-site-sidenav -->