{% if content %}
<div class="koningsschutters-site-sidebar hidden-print hidden-xs affix-top">
	{{ content }}
</div> <!-- /.koningsschutters-site-sidebar /.hidden-print /.hidden-xs /.hidden-sm /.affix-top -->
{% endif %}